body {
  font-family: Arial, sans-serif;
}

/* start find Course button */
.find-course {
  margin: auto;
  border: none;
  background-color: #4e9aff;
  height: 40px;
  width: 70%;
  font-size: 25px;
  border-radius: 10px;
  transition: background ease 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 40px;
}
.search {
  margin: auto 0;
  font-size: 30px;
}
.find-course:hover {
  cursor: pointer;
  background-color: #2282ff;
}
/* end find Course button */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #bfbfbf;
  padding: 20px;
  border-radius: 30px; /* Curved corners */
  width: 75%; /* Width */
  height: 75%; /* Height */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* start of tabs */
.tabs {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.tabs button {
  background-color: #828282;
  border: none;
  padding: 15px 30px; /* Increased padding for larger tabs */
  border-radius: 10px 10px 0 0; /* Slightly larger border radius */
  cursor: pointer;
  font-size: 18px; /* Larger font size */
  font-weight: bold; /* Optional: Make text bold */
  transition: background-color 0.3s ease; /* Smooth hover effect */
  margin: 0 5px; /* Add some spacing between tabs */
  transition: all ease 0.3s;
}

.tabs button.active {
  background-color: #9c9c9c;
  color: white;
}

.tabs button.active:hover {
  background-color: #9c9c9c;
}

.tabs button:hover {
  background-color: #8d8d8d;
}

/* start of close button */
.close {
  /* position: absolute;
  top: 0px;
  right: 0px; */
  cursor: pointer;
  background: gray;
  height: 50px;
  width: 50px;
  line-height: 50px;
  color: white;
  border-radius: 10px;
  transition: all ease 0.3s;
  margin: 0 0 10px auto;
}
.close i {
  font-size: 50px;
  color: white;
  transition: all ease 0.3s;
}
.close:hover {
  background-color: red;
}
.close:hover i {
  color: black;
}
/* end of close button */
/* end of tabs */

.tab-content {
  padding: 20px;
  background-color: #9c9c9c;
  border-radius: 10px;
  width: calc(100% - 40px);
  height: 100%;
  overflow-y: auto;
}