:root {
  --custom-width: 600px;
  --custom-height: 600px;
  --custom-cell-height: 25px;
  --custom-cell-width: 100px; /* New CSS variable */
}

.calendar-main {
  background-color: #bfbfbf;
  /* margin: 5px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  padding: 5px;
}

.calendar-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-topbar h1 {
  line-height: 55px;
  text-align: center;
  margin-left: 10px;
}

.calendar-topbar > button {
  border: none;
  height: 35px;
  width: 35px;
  margin: 10px;
  border-radius: 10px;
  font-size: 25px;
  line-height: 39px;
}

.calendar-topbar > button:hover {
  background-color: gray;
}

.calendar-content-outer {
  background-color: #9c9c9c;
  height: 90%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: auto; /* here */
  padding: 5px;
}

.calendar-class-block {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.day-labels {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 3px; */
}

.calendar-content {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #9c9c9c;
  min-width: max-content;
  /* width: 100%; */
  height: 95%;
  overflow-y: auto;
  overflow-x: visible;
  margin: auto;
  border-radius: 10px;
}

/* grid boxes */
/* what makes it a uniform grid */
.legend-hour,
.hour,
.day-label {
  width: var(--custom-cell-width); /* Use dynamic width */
  /* width: calc((var(--custom-width) / 8) - 3px); */
  height: var(--custom-cell-height);
  /* margin: 1px; */
  border-style: solid;
  border-width: 1px;
  border-color: #9c9c9c;
}
.empty {
  width: 70px;
  min-width: 70px;
}
.legend-hour {
  /* width: calc((var(--custom-width) / 8) - 30px); */
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* floats to the right */
  justify-content: end; /* floats to the bottom */
}

.day-label {
  height: 30px;
}

.hour {
  background-color: #cdcdcd;
}

.legend-hour {
    border-top: 2px solid white; /* Adjust the thickness of the line */

}

.time-legend h2,
.day h2 {
  font-size: 1.5em;
}

.time-legend h2 {
  /* text-decoration: overline; */
  margin-bottom: auto;
}

.day h2 {
  text-align: center;
}

/* styling the slider */
.slider-container {
  width: 70%;
  margin: 10px auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#height-slider,
#width-slider {
  width: 80%;
  margin: 10px 0;
}

#height-slider[type="range"],
#width-slider[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
}

#height-slider[type="range"]::-webkit-slider-thumb,
#width-slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
}

#height-slider[type="range"]::-moz-range-thumb,
#width-slider[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  border-radius: 50%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}
